*{
    box-sizing: border-box;
}
a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, 
div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, 
img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, 
sub, sup, table, tbody, td, tfoot, th, thead, tr, ul{
    border:0;
    margin: 0;
}
body{
    overflow: auto;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
}
#background{
    position: relative;
    padding: calc(100vw/15);
    height: 100vh;
    /* background: url('../images/bg-min.jpg') no-repeat top/100% 100%; */
    background-image: url('../images/bg-min.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
}
#title{
    margin: 0px auto;
    text-align: center;
}
#title h2{
    font-size: calc(100vw/15);
    line-height: 9.1;
}
#title h1{
    font-size: calc(100vw/10);
}
.white{
    color:#fff;
}


