*{
    box-sizing: border-box;
}
a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, 
div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, 
img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, 
sub, sup, table, tbody, td, tfoot, th, thead, tr, ul{
    border:0;
    margin: 0;
}
body{
    overflow: auto;
    letter-spacing: 2px;
    
}
a{
    text-decoration: none;
}
#background{
    position: relative;
    padding: calc(100vw/15);
    height: 100vh;
    /* background: url('../images/bg3.jpg') no-repeat top/100% 100%; */
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    text-align: center;
}
#title{
    margin: 0px auto;
    text-align: center;
}
#title h1{
    line-height: 3.1;
    font-size: calc(100vw/15);
}
#title h2{
    font-size: calc(100vw/35);
    color:#cebbbb;
    line-height: 8.1;
}
.white{
    color:#fff;
}
.red{
    color:#b31717;
}
#start{
    outline: none;
    margin-top:20%;
    width:60%;
    border:2px solid #b31313;
    border-radius: 20px;
    font-size: calc(100vw/16);
    font-weight: 600;
    text-align: center;
    padding: 10px 0px;
    animation:upAndDown 1s linear infinite;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent; /* For some Androids,个人感觉是低版本的安卓，4.0以下 */  
    background: none;
}

.input{
    outline: none;
    border:none;
    width:60%;
    height:calc(100vh/20);
    border-bottom: 2px solid #b31313;
    margin-top:calc(100vh/20);
    text-indent: 20px;
    background: none;
    font-size: calc(100vw/32);
}
@-webkit-keyframes upAndDown{
    0%{
        bottom:21%;
    }
    50%{
        bottom:22%;
    }
    100%{
        bottom:21%;
    }
}
@keyframes upAndDown{
    0%{
        bottom:21%;
    }
    50%{
        bottom:22%;
    }
    100%{
        bottom:21%;
    }
}
